@charset "utf-8";

.contact_left {
    float: left;
    margin-bottom: 30px;
}
.contact_right {
    float: left;
    margin-bottom: 30px;;
    margin-left: 20px;
    line-height: 18px;
}

/* Contact Form */

#contact_form ul {
    float: left;
}
#contact_form ul li {
    margin: 10px 0;
    list-style: none;
    clear: both;
}
#contact_form label {
    line-height: 35px;
    width: 100px;
    text-align: right;
    float: left;
    margin-right: 10px;
}
#contact_form input#name, #contact_form input#email, #contact_form input#phone, #contact_form textarea {
    float: left;
    padding: 8px;
    border: 1px solid #CCCCCC;
    margin-left: 10px;
    background: #fcfcfc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#contact_form input#name, #contact_form input#email, #contact_form input#phone {
    width: 400px;
}
#contact_form textarea {
    width: 500px;
    height: 150px;
    resize: none;
}
#contact_form input.button {
    float: right;
}

/* Real Person jQuery plugin styles v1.1.1. */
.realperson-challenge {
    float: left;
    padding: 6px;
    margin-left: 10px;
    color: #000;
}

#contact_form input#defaultReal {
    float: left;
    padding: 8px;
    border: 1px solid #CCCCCC;
    margin-left: 10px;
    background: #fcfcfc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    width: 210px;
}

.realperson-text {
    font-family: "Courier New", monospace;
    font-size: 6px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 3px;
}
.realperson-regen {
    padding-top: 4px;
    font-size: 11px;
    color: #999;
    text-align: center;
    cursor: pointer;
}
.realperson-disabled {
    opacity: 0.5;
    filter: Alpha(Opacity=50);
}
.realperson-disabled .realperson-regen {
    cursor: default;
}
